body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Card */
.container {
  background: #f7f7f7;
  padding: 40px;
  width: 800px;
  border-radius: 15px;
  text-align: center;
  border: 2px solid black;
}

/* Heading */
#verification_heading {
  margin-bottom: 10px;
}

/* Subtext */
#verification_subtext {
  color: #555;
  margin-bottom: 30px;
}

/* OTP boxes */
.code-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.code {
  width: 80px;
  height: 90px;
  font-size: 40px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
}

/* Bottom info box */
.info {
  background: #ddd;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  color: #666;
}